*{
    margin: 0;
    padding: 0;
  }
  body{
    height: 860px;
    background:linear-gradient(to top right,skyblue,white);
  }
  .contact-info{
    margin-top: 20px;
    margin-left: 150px;
    display: inline-block;
    width: 200px;
    height: 600px;
  }
  .card-icon{
    font-size: 28px;
    background: deepskyblue;
    width: 60px;
    height: 60px;
    margin: 45px 70px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
  }
  
  .card:hover .card-icon{
    background: none;
    color: deepskyblue;
    transform: scale(1.6);
  }
  .card .t1{
    margin-top: -35px;
    margin-left: 65px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    transition: 0.3s linear;
    }
  .card .t2{
    margin: -35px 62px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    transition: 0.3s linear;
  }
  
  .card .t3{
    margin-top: -35px;
    margin-left: 65px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    transition: 0.3s linear;
  }
  .card:hover .t{
    max-height: 40px;
    opacity: 1;
  }

  .card{
    background:LightSlateGray;
    box-shadow:8px 8px 5px 0px skyblue ;
    height: 150px;
    width: 200px;
    color: whitesmoke;
    float: left;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5%;
  }
  
  .in {
    position: absolute;
    opacity: 1;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 64px;
    height: 64px;
    line-height: 64px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
  }
  .in div {
    display: block;
    width: 300%;
    height: 15.36px;
    transform: translateX(-33.3%);
    margin-top: -16px;
    font-size: 13.44px;
    text-align: center;
  }
  .arrUp {
    position: relative;
    font-size: 32px !important;
    animation: up 3s cubic-bezier(0.5, 0, 0.1, 1) infinite;
    -webkit-animation: up 3s cubic-bezier(0.5, 0, 0.1, 1) infinite;
  }
  .arrUp:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
  }

  
    

  h1{
    color:  #505559;
    width: 192px;
    font-size: 48px;
    text-align: left;
    margin-left: 50px ;
    margin-top: 25px;
  }
  h3{
    color:  #505559;
    font-size: 24px;
    text-align: left;
    margin-left: 50px ;
  }

