*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    position: relative;
}
.inner{
    height: 420px;
    width: 758px;
    margin-left: 390px;
    margin-top: 150px;
    border-radius: 10px;
}
.inner-left{
    height: 100%;
    width: 50%;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(to right,#191654,#43C6AC);
}
.inner-right{
    height: 100%;
    width: 50%;
    float: left;
    position: relative;
    text-align: center;
    background-color: rgb(233, 233, 233);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.inner-right img{
    width: 80px;
    height: 55px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.inner-right button{
    width: 220px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: 0;
    color: rgb(233, 233, 233);
    background: linear-gradient(to right,#191654,#43C6AC);
}
.inner-right a{
    display: block;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(117, 117, 139);
}