html,body{
    margin: 0;
    padding: 0;
}
body{
    padding: 50px;
    background-color: #f2f3f5;
}
.layui-card-header{
    display: flex;
    justify-content: space-between;
   
}
.layui-table{
    color: #2F4056;
}
.layui-card{
    box-shadow: 5px 5px 3px 0px gainsboro;
    border-radius: 10px;
}
span{
    margin-left: 1%;
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
}
#form-add,
#form-edit{
    padding-top: 20px;
    padding-right: 30px;
}
#btnAddCate{
    margin-top: 10px;
    margin-right: 1%;
}
