html,body{
    margin: 0;
    padding: 0;
}
body{
    padding: 50px;
    background-color: #f2f3f5;
}
span{
    margin-left: 1%;
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
}
.text-avatar {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 150, 136);
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    position: relative;
    border-radius: 50%;
    margin-left: 50px;
}
.layui-card-body{
    margin-top: 20px;
}
.layui-card-header{
    height: 100px;
    padding: 10px;
}
.layui-card{
    box-shadow: 5px 5px 2px 0px gainsboro;
    border-radius: 10px;
}
.layui-table{
    color: #2F4056;
}
  .artinfo-box {
    padding: 20px;
  }
  
  .artinfo-title {
    text-align: center;
  }
  
  .artinfo-bar {
    font-size: 12px;
    margin: 20px 0;
  }
  
  .artinfo-bar span {
    margin-right: 20px;
    margin-left: 0;
    font-size: 12px;
    font-weight: 500;
    margin-top: 0;
    color: black;
  }
  
  .artinfo-cover {
    width: 400px;
    height: 280px;
    margin: 15px 0;
  }
  
