html,body{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f2f3f5;
  padding: 50px;
}
.main-box{
padding: 30px 40px 10px;
/* height: 500px; */
}
.user-safety-title{
font-size: 30px;
font-weight: 600;
padding-bottom: 12px;
border-bottom: 1px solid #928d8d;
padding-left: 0;
}
.user-safety-content{
padding-left: 0;
padding-right: 0;
}

.text{
  padding: 33px 0;
}
.text span,a{
  display: inline-block;
  width: 33.333%;
  font-size: 18px;
  font-weight: 600;
}
.text:first-child{
  border-bottom: 1px solid #e0e0e0;
}

.text span:nth-child(2){
text-align: center;
/* background-color: #928d8d; */
}
.text a:nth-child(3){
  text-align: right;
  color: rgb(45, 206, 184);
}
.small-box-phone,.small-box-password{
  background-color: white;
  padding:25px 23px;
  width: 430px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.small-box-password{
  width: 460px;
}
.small-box-phone h2{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.layui-layer-title{
  font-size: 24px;
  font-weight: 600;
  height: 60px;
}
.phone-cover, .password-cover{
  position: fixed;
  left: 0;
  top: 0;
  background-color:rgba(1,1,1,.5);
  width: 100%;
  height: 100%;
  z-index: 9;

}
.phone-cover{
  display: none;
}
.password-cover{
  display: none;
}
.layui-input{
  background-color: #f2f3f5;
}
.layui-icon-close{
  position: relative;
}
.layui-icon-close::before{
  position: absolute;
  font-size: 30px;
  color: #8e8f92;
  cursor: pointer;
}
.phone-close::before{
  top: -67px;
  right: -442px;
}
.password-close::before{
  top: -43px;
  left: 440px;
}


/* 图片验证码 */
.code {
  width: 400px;
  margin: 0 auto;
  position: relative;
}
.image-code,.image-code-password{
  width: 100px;
  display: inline-block;
}
#canvas, #canvasPassword{
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 120px;
  bottom: -3px;
}
.phone-code{
  width: 130px;
}
.phone-number{
  width: 223px;
}
.layui-btn{
  margin:   25px 23%;
  font-weight: 600;
  font-size: 20px;
  background-color: #f2f3f5;
  
}
.words{
  display: inline-block;
  position: relative;
}
.words::after{
  content: "看不清换一张";
  font-size: 10px;
  position: absolute;
  display: inline-block;
  left: 126px;
  bottom: -3px;
  width: 72px;
  color: rgb(13, 202, 193);
  cursor: pointer;
}

/* 修改密码 */
.icon {
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.confirm-new-password, .new-password, .old-password{
  width: 223px;
}
.password-words{
  display: inline-block;
  position: relative;
}
.password-words::after{
  content: "密码由8-16位数字、字母组成";
  font-size: 10px;
  position: absolute;
  display: inline-block;
  left: 112px;
  bottom: 0px;
  width: 160px;
  color: #8e8f92;
  cursor: pointer;
}
.layui-form-item{
  position: relative;
}
.eye{
  position: absolute;
  top: 6px;
  left: 339px;
  cursor: pointer;
}
.layui-form-mid{
  color: red; 
  position: absolute;
  font-size: 13px;
  display: none;
}
.phone-wrong1{
  right: 30px;
}
.phone-wrong2{
  right: -9px;
}
.password-wrong1,.password-wrong2{
  left: 372px;
}
.password-wrong3{
  right: -14px;
}
.demo-class{
  width: 20px;
}
