html,body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f3f5;
    padding: 50px;
}
.layui-card-header{
    margin-left: 5%;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 15px 15px 0;
} 
.layui-card{
    box-shadow: 5px 5px 2px 0px gainsboro;
    border-radius: 10px;
}
.text-avatar {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color:#009688;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    position: relative;
    border-radius: 50%;
}
.pic{
    margin-top: 2%;
}
.layui-form-label{
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 5px;
    margin-right: 5%;
    margin-left: 5%;
}
.layui-input{
    width: 20%;
}
button{
    margin-left: 15%;
}
