* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SourceHanSansSC-regular;
}
body{
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  overflow:visible;
}
li {
  list-style-type: none;
}
.delcon {
  display: none;
}
html {
  background-color: #F5F7FB;
}
#box #tab {
  position: fixed;
  width: 4.1rem;
  height: 17.8rem;
  display: inline-block;
  vertical-align: bottom;
}
#box #tab ul {
  position: relative;
  width: 2.4rem;
  left: 0.75rem;
  top: 2.0125rem;
  padding: 0.25rem;
}
#box #tab ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.025rem;
  height: 8rem;
  background: #C2C7CC;
}
#box #tab ul li {
  margin: 1.25rem 0;
  cursor: pointer;
  position: relative;
}
#box #tab ul li:first-of-type {
  margin-top: 0.2rem;
}
#box #tab ul li::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #c2c7cc;
}

#box #content {
  margin-left: 4.1rem;
  height: 10.8rem;
  display: inline-block;
  vertical-align: bottom;
}
#box #content .title {
  margin: 0.225rem 1.1rem 0.2625rem 0;
  background: linear-gradient(to top right, #191654,#43C6AC);
  box-shadow: 10px 10px 30px #191654 ;
  width: 18.825rem;
  height: 1.3375rem;
}
#box #content .title h1 {
  color: #43C6AC;
  font-size: 0.75rem;
  width: 6.25rem;
  height: 1.1125rem;
  margin: 0.125rem 0 0.1rem 0.4rem;
  line-height: 1.35rem;
}
.liBefore {
  color: #fff;
  font-size: 0.35rem;
}
.liBefore::before {
  width: 0.175rem;
  height: 0.175rem;
  left: -0.33rem;
  top: 0.175rem;
}
.liAfter {
  color: #3291F8;
  font-size: 0.45rem;
}
.liAfter::before {
  width: 0.25rem;
  height: 0.25rem;
  left: -0.365rem;
  top: 0.175rem;
}
#road div:nth-child(2) {
  width: 18.825rem;
  height: 8.2375rem;
  background: #fff;
}

.block1,
.block2 {
  width: 18.825rem;
  background: linear-gradient(to top right, #191654,#43C6AC);
  margin-bottom: 1.2375rem;
}
.block1 > h1,
.block2 > h1 {
  width: 18.825rem;
  height: 1.075rem;
  text-align: center;
  color: #43c6aca9;
  font-size: 0.45rem;
  line-height: 1.03rem;
}
.text1,
.text2,
.text3 {
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 0.3rem;
  transition: all 0.3s;
  border-radius: 0.3rem;
  box-shadow: 0 10px 30px #191654;
}
.text1:hover,.text2:hover,.text3:hover{
  transform: translate(0,-5px);
}
.text1,
.text2,
.text3 div {
  vertical-align: middle;
}
.text1 div {
  height: 0.525rem;
  margin-top: 0.1625rem;
  margin-left: 1.0375rem;
  display: inline-block;
  text-align: center;
}
.text1 div span ,
.text2 div span ,
.text3 div span{
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid #E1E3E6;
  position: relative;
  background-color: #FFFFF5;
  top: 0.06rem;
  right: 0.3rem;
}

.text1 div h1 {
  color: #43c6aca9;
  font-size: 0.45rem;
  text-align: center;
  display: inline-block;
  padding-bottom: 0.03rem;
  border-bottom: 0.025rem solid #E1E3E6;
}
.text1 p {
  width: 3.9625rem;
  color: #EDF1F2;
  margin-left: 0.85rem;
}
.text1 p:nth-of-type(1) {
  margin: 0.1375rem 0 0.3875rem 0.85rem;
}
.text1:nth-of-type(1),
.text1:nth-of-type(2) {
  position: relative;
}
.text2 div {
  height: 0.525rem;
  margin-top: 0.1625rem;
  margin-left: 3.05rem;
  display: inline-block;
  text-align: center;
}

.text2 div h1 {
  color: #43c6aca9;
  font-size: 0.45rem;
  text-align: center;
  display: inline-block;
  padding-bottom: 0.03rem;
  border-bottom: 0.025rem solid #E1E3E6;
}
.text2 p {
  width: 3.9625rem;
  color: #EDF1F2;
  margin: 0.1375rem 0 0 2.6375rem;
}
.text2 ul {
  width: 3.9625rem;
  color: #EDF1F2;
  margin: 0.1375rem 0 0 2.6375rem;
}
.text2:nth-of-type(1) {
  position: relative;
}
.text3 div {
  height: 0.525rem;
  margin-top: 0.1625rem;
  margin-left: 1.0375rem;
  display: inline-block;
  text-align: center;
}

.text3 div h1 {
  color: #43c6aca9;
  font-size: 0.45rem;
  text-align: center;
  display: inline-block;
  padding-bottom: 0.03rem;
  border-bottom: 0.025rem solid #E1E3E6;
}
.text3 p {
  width: 3.9625rem;
  color: #EDF1F2;
  margin: 0.1rem 0 0.1rem 0.85rem;
}
.text3 p:nth-of-type(1) {
  margin-top: 0.35rem;
}
.text3:nth-of-type(1),
.text3:nth-of-type(2),
.text3:nth-of-type(3) {
  position: relative;
}

.text3:nth-of-type(1) p {
  margin: 0.15rem 0 0.1rem 0.85rem;
}
.text3:nth-of-type(1) p:nth-of-type(1) {
  margin-top: 0.7rem;
}


/* 移动端开始 */
@media screen and (max-width:767px) {
 
  #box{
    height: 1500px;
  }
  #box #content {
    width: 18.7rem;
  }
  .text1,.text2,.text3{
    width: 100%;
  font-size: 0.956rem;
  }
  .text1 p,.text3 p,
  .text2 p,.text2 ul{
    width: 90%;
  }
  .text2 div{
    margin-left: 1.05rem;
  }
  .text2 p,.text2 ul{
    margin-left:0.9375rem;
  }
  .block1 > h1,
  .block2 > h1 {
    height: 2.075rem;
    font-size: 1.45rem;
    line-height: 2.03rem;
  }
  #box #content .title {
    height: 2.3375rem;
}
  #box #content .title h1 {
    font-size: 1.65rem;
    width: 14.25rem;
    height: 2.1125rem;
    line-height: 2.35rem;
}
.text1 div h1 ,
.text2 div h1 ,
.text3 div h1
{
  font-size: 1.2rem;
}
.text3 p:nth-of-type(1) {
  margin-top: 1.35rem;
}
#box #tab ul li{
  margin: 4.25rem 0;
}
#box #tab ul::before {
  height: 35rem;
}
}
/* 移动端结束 */

/* ipad端开始 */
@media screen and (min-width:768px) and (max-width:992px) {

  #box{
    height: 1500px;
  }
  #box #content {
    width: 18.7rem;
  }
  .text1,.text2{
    width: 9.19rem;
  font-size: 0.375rem;
  }
  .text3{
    width: 4.512rem;
  font-size: 0.375rem;
  }
  .text1 p{
    width: 6.9625rem;
  }
  .text2 div{
    margin-left: 1.05rem;
  }
  .text2 p,.text2 ul{
    width: 5.9625rem;
    margin-left:0.9375rem;
  }
  .text3 p{
    width: 4.9625rem;
  }
  #box #tab ul li{
    margin: 2.25rem 0;
  }
  #box #tab ul::before {
    height: 15rem;
  }
  .block1 > h1,
  .block2 > h1 {
    font-size: 0.65rem;
  }
}

/* ipad端结束 */

/* pc端开始 */
@media screen and (min-width:992px) {
  #box{
    height: 800px;
  }
  #box #content {
    width: 19.7rem;
  }
  .text1 {
    width: 6.19rem;
    font-size: 0.175rem;
  }
  .text2 {
    width: 9.3rem;
    font-size: 0.175rem;
  }
  .text3 {
    width: 4.622rem;
    font-size: 0.175rem;
  }
}

/* pc端结束 */