*{
    margin: 0;
    padding: 0;
}
#box{
    width: 100%;
    height: 100%;
    position: relative;
}
#pic li{
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition:  opacity 0.5s ease-out
}
#pic li img{
    height: 100%;
    width: 100%;
}
#pic li.active{
    opacity: 1;
    z-index: 2;
}
a{
    text-decoration: none;
    color: #EDF1F2;
}
@media screen and (max-width:767px){
    #pic li img{
        width: 100%;
        height: 720px;
        object-fit: cover;
    }
}
