*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
body{
    background-color: rgb(245,247,251);
    overflow: visible;
}

/* 设置标题 */
#h{
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(58,76,85) ;
}

.tab{
    width: 1200px;
    margin: 0 auto;
}
.current{
    color: white;
    background-color: #009688 !important;
}
.li_list li{
    float: left;
    height: 40px;
    width: 150px;
    background-color:#f0f0f4;
    border: 1px solid rgb(216,217,217);
    margin-right: 30px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px gainsboro;
}

.li_list li:hover{
    border-color: #009688;
    cursor: pointer;
}

.li_list{
    margin-bottom: 60px;
    height: 40px;
    margin-left: 50px;
}

.tab_con .item{
    height: 300px;
    width: 200px;
    background-color: #f0f0f4;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    position: relative;
    box-shadow: 10px 10px 5px 0px gainsboro;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 285px;
    width: 190px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    display: none;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    text-indent: 2em;
    padding-top: 15px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}
.item:hover {
    transform: translate(0,-10px);
    transition: 0.8s;
    cursor: pointer;
}
img{
    height: 200px;
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.item p{
    text-align: center;
    font-size: 12px;
    height: 50px;
    line-height: 50px;color:rgb(58,76,85) ;
}

#name{
    border-bottom: 2px solid rgb(49,123,134);
    font-size: 20px;
}

.tab_con{
    display: none;
    width: 1250px;
}


/* 移动端开始 */

@media screen and (max-width:767px){
    body{
       background-image: url("../../components/static/img/bg_.png");
       background-size: contain;
       height: 20000px;
       overflow: visible;
    }
    .tab{
        width: 100%;
    }
    .tab_con{
        width: 100%;
    }
    .li_list{
        width: 100%;
    }
    .li_list li{
        width: 15%;
        height: 10%;
        font-size: 1%;
        margin-top: 1%;
    }
    .tab_con .item{
        margin-left: 22%;
    }
}


@media screen and (min-width:768px) and (max-width:992px){
    body{
        background-image: url("../../components/static/img/bg_.png");
        background-size: contain;
        height: 10000px;
        overflow: visible !important;
    }
    .tab{
        width: 100%;
    }
    .tab_con{
        width: 100%;
    }
    .li_list{
        width: 100%;
    }
    .li_list li{
        width: 15%;
        height: 10%;
        font-size: 1%;
        margin-top: 1%;
    }
    .tab_con .item{
        margin-left: 15%;
    }
}

@media screen and (min-width:992px){
    body{
        background-image: url("../../components/static/img/bg_.png");
        background-size: contain;
        height: 10000px;
        /* overflow: visible !important; */
    }
    .tab{
        width: 100%;
        margin-left: 10%;
    }
    .tab_con{
        width: 100%;
    }
    .li_list{
        width: 100%;
    }
    .li_list li{
        width: 10%;
        height: 10%;
        font-size: 100%;
        margin-top:0.5%;
    }
    .tab_con .item{
        margin-left: 4%;
    }
}
