* {
    margin: 0;
    padding: 0;
    }
.header{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 105px;
    line-height: 20px;
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);   color: rgba(16, 16, 16, 100);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
    border: 0px solid rgba(255, 255, 255, 100);
    position: fixed;
    z-index: 999;
  }
  .header .header_in{
    width: 1200px;
    height: 100%;
    float: right;
    /*background-color: skyblue;*/
}
  .header .logo{
    left: 70px;
    top: 24px;
    width: 200px;
    height: 65px;
    position: absolute;
    background: url('../components/static/img/logo.png') no-repeat center;
    background-size: cover;
  }
  .header .nav{
      float: left;
      width: 900px;
      height: 100%;
  }
  ul {
    height: 105px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  ul li{
    width: 90px;
    height: 29px;
    display: inline-block;   
    padding-left: 22px; 
    line-height: 105px;
    font-size: 20px;

    
  }
  ul li a{
      text-decoration: none;
      color: #FFFFFF ;
      text-align: center;
  }
  ul li:hover a{
      color:#43C6AC ;
  }
  .login {
      float: right;
      width: 100px;
      height: 40px;
      text-decoration: none;
      margin-right: 100px;
      margin-top: 35px;
      border-radius: 31px;
      text-align: center;
      background:linear-gradient(to  top  right,#43C6AC, #3291F8) ;
     }
  .login a{
    margin: 10px;
    color: #FFFFFF ;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
  }
  .login:hover a{
    color:#101010  ;
}
