<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/nav.css">
    <link rel="shortcut icon" href="../../components/static/img/zhuoyue icon.ico">
     
<body>
    <div class="header">
        <ul class="layui-nav layui-bg-cyan" >
        <li class="layui-nav-item logo"  ></li>
        <li class="layui-nav-item "><a href="javascript:;">关于我们</a></li>
        <li class="layui-nav-item "><a href="./pages/plan/index.html">成长计划</a></li>
        <li class="layui-nav-item"><a href="./pages/companies/index.html">卓越赛事</a></li>
        <li class="layui-nav-item"><a href="./pages/ourStories/index.html">成员风采</a></li>
        <li class="layui-nav-item"><a href="./pages/ourStories/index.html">加入我们</a></li>
        <li class="layui-nav-item">
          <a href="javascript:;">更多信息</a>
          <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="./pages/ResourceCommunity/index.html">资源社区</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item login layui-this"><a href="./pages_in/login.html">登录</a></li>
      </ul>
    </div>
</body>
</html>
