 *,html{
    margin: 0;
    padding: 0;
  }
  body{
    overflow: hidden;
     opacity: 0;
     animation: page-fade-in 0.5s forwards;
  }
  #header1{
    width: 100%;
    height: 105px;
    z-index: 3;
    position: relative;
  }
  #header2{
    width: 100%;
    height: 105px;
    z-index: 3;
    position: relative;
  }
  #header3{
    width: 100%;
    height: 105px;
    z-index: 3;
    position: relative;
  }
  #header4{
    width: 100%;
    height: 105px;
    z-index: 3;
    position: relative;
  }
   @keyframes page-fade-in {
    0% {opacity: 0 } 
    {}100% { opacity: 1}
  }
  #switch{
    width: 100%;
    height: 919px;
    position: relative;
  }
   iframe{
  display:block;border:0px
}
 #superb{
   width: 100%;
   height: 919px;
   position: relative;
 }
 #contactUs{
  width: 100%;
  height: 919px;
  position: relative;
 }

